<ion-content padding class="modal">
  <ion-icon name="close" class="close" (tap)="closeModal()"></ion-icon>
  <img class="imgs" *ngIf="type == 'pic'" [src]="msg" width="auto" height="auto">
  <video class="imgs" controls *ngIf="type == 'vid'" width="100%" height="auto" style="max-height: 90%">
  <source [src]="msg" type="video/mp4">
  </video>
  <audio controls class="imgs" *ngIf="type == 'audio'">
    <source [src]="msg" type="audio/mp3">
  </audio>
  <div class="boxDiv" *ngIf="type == 'text'"><h1>{{msg}}</h1></div>
</ion-content>
