<!--
  Generated template for the SqliPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sqlite database</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Permet de stocker des données de façon structurées</p>
  <ion-list>
    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" [(ngModel)]="titleMovie"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Rating</ion-label>
      <ion-input type="text" [(ngModel)]="ratingMovie"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Description</ion-label>
      <ion-input type="text" [(ngModel)]="descriptionMovie"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Categorie</ion-label>
      <ion-input type="text" [(ngModel)]="categorieMovie"></ion-input>
    </ion-item>
  </ion-list>
<div>
  <button ion-button (tap)="saveMyFilm()">Save my film !!</button>
</div>
  <ion-list *ngIf="movies">
    <ion-item *ngFor="let movie of movies">
      <ion-label fixed text-center>{{ movie }}</ion-label>
    </ion-item>
  </ion-list>
<div>
  <button ion-button (tap)="retrieveFilms()">Get films saved !!</button>
</div>
<div>
  <ion-item>
  <ion-label fixed>Movie</ion-label>
  <ion-input type="text" [(ngModel)]="dlf"></ion-input>
  </ion-item>
  <button ion-button (tap)="delFilms()">Delete movie</button>
</div>
</ion-content>
